@import '@taskany/colors/harmony/light.css';
/* :root {
    --text-primary: #18181b;
    --text-secondary: #27272a;

    --background: #FFFFFF;
    --foreground: #11181C;
    --divider: rgba(255, 255, 255, 0.15);

    --default-50: #fafafa;
    --default-100: #f4f4f5;
    --default-200: #e4e4e7;
    --default-300: #d4d4d8;
    --default-400: #a1a1aa;
    --default-500: #71717a;
    --default-600: #52525b;
    --default-700: #3f3f46;
    --default-800: #27272a;
    --default-900: #18181b;

    --primary-50: #f2eafa;
    --primary-100: #e4d4f4;
    --primary-200: #c9a9e9;
    --primary-300: #ae7ede;
    --primary-400: #9353d3;
    --primary-500: #7828c8;
    --primary-600: #6020a0;
    --primary-700: #481878;
    --primary-800: #301050;
    --primary-900: #180828;

    --secondary-50: #e6f1fe;
    --secondary-100: #cce3fd;
    --secondary-200: #99c7fb;
    --secondary-300: #66aaf9;
    --secondary-400: #338ef7;
    --secondary-500: #006FEE;
    --secondary-600: #005bc4;
    --secondary-700: #004493;
    --secondary-800: #002e62;
    --secondary-900: #001731;

    --success-50: #e8faf0;
    --success-100: #d1f4e0;
    --success-200: #a2e9c1;
    --success-300: #74dfa2;
    --success-400: #45d483;
    --success-500: #17c964;
    --success-600: #12a150;
    --success-700: #0e793c;
    --success-800: #095028;
    --success-900: #052814;

    --warning-50: #fefce8;
    --warning-100: #fdedd3;
    --warning-200: #fbdba7;
    --warning-300: #f9c97c;
    --warning-400: #f7b750;
    --warning-500: #f5a524;
    --warning-600: #c4841d;
    --warning-700: #936316;
    --warning-800: #62420e;
    --warning-900: #312107;

    --danger-50: #fee7ef;
    --danger-100: #fdd0df;
    --danger-200: #faa0bf;
    --danger-300: #f871a0;
    --danger-400: #f54180;
    --danger-500: #f31260;
    --danger-600: #c20e4d;
    --danger-700: #920b3a;
    --danger-800: #610726;
    --danger-900: #310413;
} */